<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link href="https://fonts.cdnfonts.com/css/edge-of-the-galaxy" rel="stylesheet">
    <link rel="stylesheet" type="text/scss" href="static/css/fonts.scss" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
  </head>


<body height=100%>
<section>
<div class="div1"  style= "background-image:url({{url_for('static', filename='images/space_backround.png') }})"  >

     <p class="title" >
      LunarwhalDAO
     </p>

     <p class="boxed" >
      Documents
      </p>

  <div>
      
    <a  href="https://www.discord.com/" target="_blank">
      <img class="discord " alt="Qries" src=static/images/discord.png>
    </a>

    <a  href="https://www.twitter.com/" target="_blank">
      <img class="twitter"  alt="Qries" src=static/images/twitter.png>
    </a>

    <img class="white-dots" src="static/images/white_dots.jpeg" alt=""  >
    
  </div>

    <img  class="img-rocket" src="static/images/rocket.png" alt="" >

    <div>

      <img class="moon" src="static/images/moon.png" alt=""  >

      <img  class="img-container" src="static/images/bordered.png" alt="" >

    </div>

     <p class="text" >
      Welcome  to  the  Lunarwhal  Decentralized  Reserve  Protocol!
     </p>
  
</div>

 
  
<div  class="div2"  style= "background-image:url({{url_for('static', filename='images/background_2.png') }})" >
  
     
    <div class="row">

      <div class="column">
        <img class="no-border" src="static/images/no-border-back.png" alt="">
      </div>

      <p class="boxed-2" >
        Mint Lunawhals
      </p>
      
      <div class="column">
        <img  class="whale" src="static/images/whale.png"  alt="">
      </div>
      
      
    </div>
    
  </div>
 
</div>

</section>


<footer class="social-footer">
  <p class="footer-text" > Twitter</p>
  
  
     
       
        
        <a href="#" class="fa fa-twitter"></a>
  
        <p class="footer-text"> Discord</p>
  
        <a  href="https://www.discord.com/" target="_blank"> 
        <image class='fa-discord'  src="static/images/discord-icon.png"  alt="">
        </a>
  
  
  
  </footer>

</body>
</html>
 